*-OLD.*

*/data/*
*/logs/*
www/names/data/*
www/tiira2vihko/data/*
www/havistin2/process/*

www/config/env.php
www/config/php.prod.ini

readme.private.md

secrets_temp.php

*/getimages/*
*/temp/*

.directory

*~
